p{
    color: rgb(6, 14, 165);
    font-size: 24px;
    font-weight: 600;
    /* text-decoration: underline wavy ; */
    font-family: monospace;
}
h1{
    color:brown;
    background-color: bisque;
    font-family: cursive;
    text-align: center;
}
a{
    text-decoration: none;
}